{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/text.css' %}">
</head>
<body>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Ваша запись была изменена успешно</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error natus voluptates facilis nisi sapiente quisquam repellendus qui iure laboriosam tenetur!</p>
</body>
</html>